
{{define "title"}}Home{{end}}

{{define "main"}}
    <h1>About</h1>
    <p>Hello, I am Mahesh. Welcome to my personal blog. I am an engineering manager based out of the Delhi. </p>
    
    <p>
        About this blog: to be honest, I am not sure about the purpose of this blog. The main purpose I guess is that space allows me to write down on one particular topic, and present a kind of thoughts which I have been accumulating since a long time.

        Thanks for reading, please reach out to my over  <a href="https://www.linkedin.com/in/maheshsingh/">LinkedIn</a> if you want to discuss anything.

    </p>

{{end}}
